.country-container {
  background-color: #A8DADC;
  width: 100%; /* Adjust width to fit the screen */
  max-width: 90vw; /* Ensure it doesn’t exceed the screen width */
  padding: 2rem;
  border: 3px solid #E63946;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.country-title {
  font-size: 50px;
    color: #1D3557;
    margin-bottom: 1rem;
    font-weight: bold;
}

.country-description {
  margin-bottom: 30px;
  font-size: 23px;
  color: #1D3557;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  margin-bottom: 20px;
}

.tile {
  font-weight: bold;
  font-size: 3em;
  width: 80px; /* Adjust dimensions */
  height: 80px;
  border: 10px solid #000000;
  text-align: match-parent;
  line-height: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tile.correct {
  background-color: rgb(99, 147, 99);
  color: white;
}

.tile.incorrect {
  background-color: rgb(168, 57, 57);
  color: white;
}

.question-modal {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.question-modal button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

/* .question-modal button.wrong-answer {
  background-color: red;
  color: white;
}

.question-modal button.correct-answer {
  background-color: green;
  color: white;
} */

.info {
  font-size: 1.2em;
}

.game-over {
  margin-top: 20px;
}

.restart-button {
  background-color: #457B9D;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.restart-button:hover {
  background-color: #196492;
}

.back-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

.back-button:hover {
  background-color: #d32f2f;
}

.bingo-message {
  color: green;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}