.country-container {
  background-color: #A8DADC;
  width: 100%;
  max-width: 90vw;
  padding: 2rem;
  border: 3px solid #E63946;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.country-title {
  font-size: 50px;
  color: #1D3557;
  margin-bottom: 1rem;
  font-weight: bold;
}

.country-description {
  margin-bottom: 30px;
  font-size: 23px;
  color: #1D3557;
}

.boards-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 90vw;
  flex-wrap: wrap;
}

.player-board-container {
  width: 45%;
  margin: 10px;
  border: 2px solid #1D3557; 
  border-radius: 10px; 
  padding: 10px; 
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  margin-bottom: 20px;
}

.tile {
  font-weight: bold;
  font-size: 2em;
  width: 60px;
  height: 60px;
  border: 5px solid #000000;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tile.correct {
  background-color: rgb(99, 147, 99);
  color: white;
}

.tile.incorrect {
  background-color: rgb(168, 57, 57);
  color: white;
}

.question-modal {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.question-modal button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.info {
  font-size: 1.2em;
}

.game-over {
  margin-top: 20px;
}

.restart-button {
  background-color: #457B9D;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.restart-button:hover {
  background-color: #196492;
}

.back-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

.back-button:hover {
  background-color: #d32f2f;
}

.bingo-message {
  color: green;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}
.username-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username-form label {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.username-form input {
  padding: 10px;
  font-size: 1em;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.username-form button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  transition: background-color 0.3s ease;
}

.username-form button:hover {
  background-color: #d32f2f;
}

