
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1FAEE;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}  

.play-container {
  background-color: #A8DADC;
  width: 400px; /* Fixed large width */
  height: 500px; /* Fixed large height */
  padding: 2rem;
  border: 3px solid #E63946;
  width: 100%; /* Adjust width to fit the screen */
  max-width: 90vw; /* Ensure it doesn’t exceed the screen width */
  padding: 2rem;
  border: 3px solid #E63946;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  align-self: auto;
}

.play-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.play-button {
  background-color: #457B9D;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.play-button:hover {
  background-color: #196492;
}
.instructions {
  text-align: justify;
  border: 3px solid #E63946;
}
.instructions p {
  font-size: 1.2em;
  font-weight: bold;
  color: #1D3557;
  margin-bottom: 10px;
}

.instructions ol {
  list-style-type: decimal;
  padding-left: 30px;
}

.instructions li {
  font-size: 1em;
  color: #196492;
  margin-bottom: 10px;
  line-height: 1.5;
}

.instructions li::marker {
  color: #f44336;
  font-size: 1.2em;
}
.home-button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #d32f2f;
}
.home-button-container {
  margin-top: 40px; /* Add margin to move it down */
}
